app-tablecomponent,app-table1{
    width: 95%;
}
.mat-toolbar{
    width: 97%;
}
#tech1{
    margin-left: 30px;
}
#com1{
    margin-left: 11px;
}
.RFxtitle{
    margin-left: 15px;
}


.aligned-with-iconn {
    margin-left: 15px;
    }