<mat-toolbar>Manual RFX
  <span class="fill"></span>
  <span>RFX Number:REQXXXXXX</span>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="4:3">
    <mat-grid-tile>
        <div class="RFxtitle">
            <h2>RFX Title:Catalyst for DTA Refinary</h2>
            <hr>
            <h3>Bid Due Date:</h3><br>
            <h4>Technical:
                   <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="tech1">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </h4>
            <h4>Commercial:
            <input matInput [matDatepicker]="picker1" placeholder="choose a date" id="com1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            </h4>
          </div>
          
            
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1"><app-tablecomponent></app-tablecomponent></mat-grid-tile>
  </mat-grid-list>
  
 <app-table1> </app-table1>